.container::-webkit-scrollbar {
    display: none;
}
  
.container {
    border-radius: 25px;
    border :2px solid #000;
    width: 32vmin;
    height: 45vmin;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    padding-top: 10vmin;
}

.animeCard {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    margin-top: -10vmin;
    height: 10vmin;
    width: 32vmin;
    flex-direction: row;
    display: flex;
    border-bottom : 2px solid #000;
    align-items: center;
    background-color: #E4E4E4;
    position: absolute;
}

.card{
    height: 10vmin;
    flex-direction: row;
    display: flex;
    border-top : 1px solid #000;
    border-bottom : 1px solid #000;
    align-items: center;
}

.card :hover{
    background-color: #E3E3E3;
}

.cardImage {
    flex: 1.5;
    padding: 10px;
    height: 7vmin;
}

.cardTitle {
    flex: 8;
    margin-left: 2%;
}

.animeTitle {
    text-align: center;
}

.animeImage {
    width: 7vmin;
    padding: 10px;
    height: 7vmin;
    border-radius: 100%;
}