body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Proxima Nova', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.descContainer::-webkit-scrollbar {
  display: none;
}

.recommendedListContainer:hover {
  cursor: pointer;
  opacity: 0.7;
  transition: opacity 500ms;
}

.animeImg:hover {
  cursor: pointer;
  opacity: 0.75;
  transition: opacity 500ms;
}

.followeButton:hover {
  cursor: pointer;
  opacity: 0.9;
  transition: opacity 500ms;
}

.animeListingTitle:hover {
  cursor: pointer;
  opacity: 0.7;
  transition: opacity 500ms;
}

.pageChange:hover {
  cursor: pointer;
  opacity: 0.7;
  transition: opacity 500ms;
}

.navText:hover {
  cursor: pointer;
  opacity: 0.7;
  transition: opacity 500ms;
}